@media (min-width: 32.5em){
    .body_page{
        max-width: 800px;
    }

header {
    grid-template-columns: auto 1fr;
    border-radius: 10px;
    padding: 10px;
   
}
h1{

    font-size: 3em;
    text-align: left;


}
header img{   
float: right;
width: 120px;
margin: 10px;
}

h2{
    text-align: left;
    margin: 10px;
}

ul li{
    font-size: 1.2em;
}

footer{
    
    border-radius: 10px;
    padding: 10px;
}
}