@media only screen and (min-width: 968px) {
    body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        max-width: 1530px;
        height: 1270px;
    }
    header {
        grid-column: 1/5;
        grid-row: 1/2;
        display: flex;
        position: relative;
    }
    
    .headings{
        text-align: left;
    }
    
    nav {
	margin: 0 auto;
    width: 60%;
	background-color: gray;

    }

    .navigation{
        display: flex;
    }
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
        font-size: 30px;
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

    .social{
        position: absolute;
        top: 4rem;
        right: 2rem;
    }

    #today_date{
        position: absolute;
        top:85%;
        width:90%;
        
    }
    .date {
        margin: -0.5rem 2rem -0.5rem 1.3rem;

    }

    .visits {
        margin: -0.5rem 2rem -0.5rem 1.3rem;

    }

    main{
        grid-column: 1/5;
        grid-row: 2/5;
        width: 100%;
    }

    #hero h2{

        left: 5%;
    }
    .content{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
    }
    
    #hero{
        grid-column: 2/4;
        grid-row: 1/3;
    }

    #hero picture img{
        height: 100%;
    }
    #event{
        grid-column: 1/2;
        grid-row: 1/2;

    }

    #event p{
        height: 20%;
        overflow: scroll;
        margin-bottom: 2%;
    }
    #weather{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 30px;
  
    }
    #release{
        grid-column: 2/4;
        grid-row: 3/4;
        padding: 30px;
    
    }

    #join{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 30px;

    }

    #spotlight{
        grid-column: 4/5;
        grid-row: 1/4;
        padding: 30px;
    }
    .sp1, .sp2, .sp3{
        display: block;
        height: 33%;
    }
    footer{
        grid-column: 1/5;
        grid-row: 6;
        background-color: gray;
        display: flex;
        padding-top: 2%;
    }

 
    #join_page{
        height: 3000px;
    }
}


.dirList section {
    display: flex;
    justify-content: space-between;
  }


