@media only screen and (min-width: 520px){
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, 1fr);
        height: 2000px;
    }
    header {
        grid-row: 1/2;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    
    .logo img {
        width: 200px;
        height: auto;
        margin-top: 1em;
    }
    
    .headings {
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
        
    }
    
    .headings h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        margin-bottom: auto;
    }
    
    .sub_heading {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;

    }
    
    .social {
        position: absolute;
        top: 0.3rem;
        right: 1rem;
    }
    
    #facebook{
        padding: 10px;
    }
    
    #twitter{
        padding: 10px;
    }
    nav {
        display: flex;
        font-family: 'Oswald', sans-serif;
        margin: 0 auto;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: flex;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a.menu::before {
        content: "▶️ ";
    }
    .navigation a:hover {
        color: white;
        background-color: black;
    }
    
    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
      <ul class="navigation responsive">
    */
    .responsive li {
        display: block;
    }
    
    .responsive a.menu::before {
        content: "❌ ";
    }
    
    .date {
        font-family: 'Roboto', sans-serif;
        display: block;
        margin: -0.5rem 1rem;
        background-color: #eee;
    }

    .visits {
        margin: -0.5rem 3rem;
        padding: 2rem;
    }
    
    
    main{
        grid-row: 2/7;
        width: 100%;
    }

    #discover_gallery picture img:hover{
        box-shadow: 0 0 50px aquamarine;
    }
 
    .content{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        
    }
    
    #hero{
        grid-column: 1/4;
        grid-row: 1/2;
    }


    #event{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    #weather{
        grid-column: 3/4;
        grid-row: 5/6;

    }
    #release{
        grid-column: 1/4;
        grid-row: 2/3;

    }
    #join{
        grid-column: 1/4;
        grid-row: 4/5;
        background-color:steelblue;
        padding: 15px 30px;
    }

    #join a h2{
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
	    color: #eee;
	    font-size: 30px;
	    margin: 20px;
    }

    #join a img{
        height: 70%;
        
    }
    #spotlight{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .sp1, .sp2{
        display: inline-block;
        height: 100%;
        padding-left:20px ;
        padding-right: 2em;
    }
    footer{
        grid-column: 1/4;
        grid-row: 7/8;
        background-color: gray;
    }

    footer div{
        padding-top: 10px;
    }
    /*Format for the form*/
#join_page{
	height: 2500px;
}
}